<%- include('../partials/_navbar.ejs') %>

<h1>My Recipes</h1>

<a href="/recipes/new">Add New Recipe</a>

<% if (recipes.length > 0) { %>
  <ul>
    <% for(const recipe of recipes) { %>
      <li>
        <a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a>
        <a href="/recipes/<%= recipe._id %>/edit">Edit</a>
        <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% } %>
  </ul>
<% } else { %>
  <p>You have not created any recipes yet.</p>
<% } %>